.featureditems img {
    max-width: 580px;
}

.featureditems ul {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    padding: 0;
    overflow-x: scroll;
}

.featureditems li {
    max-width: 600px;
}

.featureditems li a {
    color: #000;
    font-size: 16px;
}

.featureditems li h4 {
    font-size: 24px;
    max-width: 580px;
    margin: 0;
}