.featureditems img {
    max-width: 320px;
    aspect-ratio: 16/9;
    width: 320px;
    @media (min-width: 900px) {
        max-width: 380px;
        width: 380px;
        aspect-ratio: 16/9;
        padding-left: 0;
    }
}

.featureditems ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
    overflow-x: scroll;
    @media (min-width: 900px) {
        padding: 0;
        flex-wrap: wrap;
    }

}

.featureditems li {
    max-width: 340px;
    padding-left: 0px;
    margin-bottom: 20px;

    @media (min-width: 900px) {
        max-width: 600px;
        padding-left: 0;
    }
}

.featureditems li a {
    color: #000;
    font-size: 16px;
}

.featureditems li p {
    font-size: 18px;
    max-width: 380px;
    margin: 0;
}

.featureditems li img {
    width: 320px;
    @media (min-width: 900px) {
        width: 380px;
        padding-left: 0;

    }
}