.featureditems img {
    max-width: 320px;
    width: 320px;
    aspect-ratio: 16/9;

    @media (width >= 900px) {
        max-width: 360px;
        width: 360px;
        aspect-ratio: 16/9;
        padding-left: 0;
    }
}

.featureditems ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 10px;
    overflow-x: scroll;

    @media (width >= 900px) {
        padding: 0;
        gap: 60px;
    }

}

@media (width >= 822px) and (width <= 1200px) {
    .featureditems ul {
      padding: 0 34px;
    }
}


.featureditems li {
    max-width: 340px;
    padding-left: 0;
    margin-bottom: 20px;

    @media (width >= 900px) {
        max-width: 600px;
        padding-left: 0;
    }
}

.featureditems li a {
    color: #000;
    font-size: 16px;
}

.featureditems li p {
    font-size: 18px;
    max-width: 380px;
    margin: 0;
}

.featureditems li img {
    width: 320px;
 
    @media (width >= 900px) {
        width: 380px;
        padding-left: 0;

    }
}

.featureditems .title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
    margin: 0.5rem 0;
    text-wrap: balance;
}

.featureditems .description {
    font-size: 0.85rem;
    font-weight: 300;
    color: #666;
    margin: 0.5rem 0;
}

.featureditems .date {
    font-size: 0.85rem;
    font-weight: 300;
    color: #666;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.featureditems .date svg{
    width: 16px;
    height: 16px;
    stroke: #666;
    flex-shrink: 0;
}

.featureditems .pubdate {
    font-size: 0.85rem;
    font-weight: 300;
    color: #666;
    margin: 0;
}