.homebanner-container  {
  padding: 0 !important;
}

.homebanner-wrapper {
  max-width: unset !important;
  padding: 0;
  background-color: #000;
}

.homebanner {

  overflow: hidden;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff
}
@media (min-width: 768px) {
  .homebanner {
    flex-direction: row;
    max-height: 540px;
  }
}



.homebanner p {
  margin: 0;
}

.homebanner div {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: start; 
  text-align: center;
}

@media (min-width: 768px) {
  .homebanner div {
    width: 600px;
    height: 549px;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
  }
}

.homebanner .icon {
  height: 100%;
  width: 100%;
}

.homebanner picture img{
  height: 549px;
  max-height: 549px;
}

.homebanner .icon svg {
  width: 300px;
}

@media (min-width: 768px) {
  .homebanner .icon svg {
    height: 200px;
    width: 600px;
  }
}
