.homebanner-wrapper {
  max-width: unset !important;
  padding: 0;
  background-color: #000;
}

.homebanner {

  max-height: 549px;
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}

.homebanner picture img{
  max-height: 549px;

}