.recenttravel img {
    max-width: 580px;
}

.recenttravel ul {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    padding: 0;
}

.recenttravel li {
    max-width: 600px;
}

.recenttravel li a {
    color: #000;
    font-size: 16px;
}

.recenttravel li h4 {
    font-size: 24px;
    max-width: 580px;
    margin: 0;
}