.recentlivestream img {
    max-width: 320px;
    width:320px;
    aspect-ratio: 16/9;

    @media (width >= 900px) {
        max-width: 360px; 
        width: 360px;   
        aspect-ratio: 16/9;
        padding-left: 0;
    }
}

.recentlivestream ul {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    gap: 60px;
    padding: 0 10px;
    overflow-x: scroll;

    @media (width >= 900px) {
        padding: 0;
    }
}

@media (width >= 822px) and (width <= 1200px) {
    .recentlivestream ul {
      padding: 0 34px;
    }
}

.recentlivestream li {
    max-width: 340px;
    padding-left: 0;
    margin-bottom: 20px;

    @media (width >= 900px) {
        max-width: 600px;
        padding-left: 0; 
    }
}

.recentlivestream li a {
    color: #000;
    font-size: 16px;
}

.recentlivestream li p {
    font-size: 18px;
    max-width: 380px;
    margin: 0;
}

.recentlivestream li img {
    @media (width >= 900px) {
        width: 380px;
        padding-left: 0;
    }
}

.recentlivestream .title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
    margin: 0.5rem 0;
    text-wrap: balance;
}

.recentlivestream .description {
    font-size: 0.85rem;
    font-weight: 300;
    color: #666;
    margin: 0.5rem 0;
}

.recentlivestream .date {
    font-size: 0.85rem;
    font-weight: 300;
    color: #666;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.recentlivestream .date svg{
    width: 16px;
    height: 16px;
    stroke: #666;
    flex-shrink: 0;
}

.recentlivestream .pubdate {
    font-size: 0.85rem;
    font-weight: 300;
    color: #666;
    margin: 0;
}