.recentlivestream img {
    max-width: 380px;
}

.recentlivestream ul {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    padding: 0;
    overflow-x: scroll;
}

.recentlivestream li {
    max-width: 600px;
}

.recentlivestream li a {
    color: #000;
    font-size: 16px;
}

.recentlivestream li h2 {
    font-size: 24px;
    max-width: 380px;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.recentlivestream li h4 {
    font-size: 18px;
    max-width: 380px;
    margin: 0;
}